<div class="container">


  <div class="row">
    <div class="col-lg-12 text-center">
      <div class="navy-line"></div>
      <h1>
        <span>My Coding Activity</span>
      </h1>

    </div>
  </div>

  <div class="row">
      <div class="col-lg-8 col-lg-offset-2 text-center">
          <p>
            <span><br> <br> I code regularly for uni, work, side projects and for fun in general. If for some reason you want to see my coding activity, you can do so here: <br> 👇🏾</span>
          </p>
      </div>
  </div>

    <div class="row">
      <div id="code">
      <a href="https://wakatime.com"><img src="https://wakatime.com/share/@8bede121-c7ea-4deb-a5dc-54b9e04630fe/efa37aed-d77e-4ff2-8b95-f649398256e5.png" class="img-responsive text-center coding wow {% if loopindex == 1 %} fadeInLeft {% else %} fadeInRight {% endif %}" alt=""/></a>
    </div>
    </div>


</div>