<div class="container">


    <div class="row">
      <!-- <div class="col-lg-12">
        <div id="map" class="vertical-container light-timeline center-orientation">
          <p>
            blah
          </p>
        </div>

      </div> -->

    </div>
    <!-- author copyright -->
    <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center m-t-lg m-b-lg">
              <p id="jalpc_site_pv"><strong>&copy; {{ 'now' | date: "%Y" }} {{ site.title }}</strong></p>
          </div>
      </div>

</div>
